@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0;
}

.titles-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem-title {
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
}

.poem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Tajawal", sans-serif;
}

.poem {
  font-size: 3rem;
}

.options-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.go-back-button {
  background-color: #1b95e0;
  height: 20px;
  border-radius: 3px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
